<!DOCTYPE html>
<html>

<head>
    <!-- require APlayer -->
                <link rel="stylesheet" href="/assets/css/APlayer.min.css" media="all">
                <noscript>
                    <link rel="stylesheet" href="css/APlayer.min.css">
                </noscript>
                <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
                <script src="/assets/js/APlayer.min.js"></script>
                <script src="/assets/js/Meting.min.js"></script>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        if (typeof Meting !== 'undefined') {
                            Meting.init();
                        }
                    });
    <!-- require MetingJS -->
    <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
    <style>
        .aplayer-body {
            opacity: 0.8;
            color: #030006;
            font-weight: 600;
            box-shadow: 0 2px 10px #5b57ca;
            border-radius: 20px;
        }
    </style>
</head>

<body>
                <div class="work">
                    <h2 class="chtitle"><span>音乐</span>赏析</span></h2>
                    <div id="music-player">
                        <meting-js list-max-height="130px" server="netease" type="playlist" data-fixed="true" data-autoplay="true"
                            id="508352301">
                        </meting-js>
                    </div>
                </div>
    </script>
</body>
